:root {
  --bg: rgb(231,213,237);
  --primary: rgb(213,231,0);
  --hover: rgb(127,127,0);
}

@font-face {
  font-family: 'Cairo';
  src: url(/resources/Cairo-Regular.woff);
}

body {
    font-family: 'Cairo';
    background: var(--bg);
    color: var(--text-primary);
    min-height: 100vh;
}

.thread {
    display: flex;
    gap: 14px;
    padding: 12px 16px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 5px;
}

.thread-hover {
  background: var(--hover);
}

.bubble {
  --background-color: var(--bg);
  --color: var(--primary);
  --padding: 4.px 4.px;
  --border-radius: 16.px
  --width: fit-content;
}
