:root {
  --bg: rgb(255,127,255)
  --primary: rgb(255,127,0)
  --hover: rgb(127,127,0)
}

@font-face {
  font-family: 'Cairo';
  src: url(/resources/Cairo-Regular.ttf);
}

body {
    font-family: 'Nunito';
    background: var(--bg);
    color: var(--text-primary);
    min-height: 100vh;
}

.thread {
    display: flex;
    gap: 14px;
    padding: 12px 16px;
    border-radius: 24px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 5px;
}

.thread-hover {
  background: var(--hover);
}
